.product
  text-align: center
  border: 2px solid transparent
  width: 347px
  height: 551px
  padding: 45px 11px 25px 7px
  .productImage
    width: 262px
    height: 252px

.productHead
  font-family: Kadwa, sans-serif
  color:  #f44336
  font-size: 20px
  font-weight: 700
  line-height: 52px
  text-align: center

.productHead__big
  font-size: 28px
  margin-bottom: 17px

.productHead__left
  text-align: left

.productArticle
  font-family: Montserrat, sans-serif
  color:  #ffffff
  font-size: 14px
  font-weight: 400
  line-height: 24px
  text-align: center
  span
    font-weight: 700

.productArticle__left
  text-align: left
  //margin-top: 27px
  margin-bottom: 14px

.productPrice
  font-family: Kadwa, serif
  color: #f44336
  font-size: 30px /* Приближение из-за подстановки шрифтов */
  font-weight: 700
  line-height: 62px /* Приближение из-за подстановки шрифтов */
  text-align: center

.productPrice__left
  text-align: left
  margin-top: 12px

.product__button
  border-radius: 50px
  border-color: $baseWithe_title
  background: none
  color: $baseWithe_title
  margin-top: 30px
  font-family: Montserrat, sans-serif
  width: 150px
  font-size: 14px /* Приближение из-за подстановки шрифтов */
  font-weight: 600
  line-height: 24px /* Приближение из-за подстановки шрифтов */
  text-align: center
  opacity: 0

.product:hover
  border: solid 2px #f44336
  .product__button
    opacity: 1